/* Common styles for text */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
    text-align: left;
}

img {
    height: auto;
    width: 500px;
}

/* Styling for h1 (page title) */
h1 {
    color: darkslategrey;
    font-size: 50px;
    font-weight: bold;
}

h2 {
    color:darkslategrey
    font-size: 40px;
    font-weight: bold; 
}

p {
    color:olive;
    font-size:20px;
    font-weight:normal;
}

/* Styling for the .recipe class */
.recipe {
    color: olive
    font-size: 20px;
}

/* Styling for the unordered list */
ul {
    color: olive;
    font-size: 30px;
    padding: 0;
    list-style-type: none; /* Removes bullet points */
}

/* Styling for list items */
li {
    color: olive;
    font-size: 30px;
    margin: 10px 0; /* Adds space between list items */
}

/* Styling for links inside list items */
a {
    color:olive;
    text-decoration: none; /* Removes underline */
    font-size: 30px;
}

/* Optional: Hover effect for links */
a:hover {
    color: orange; /* Changes color on hover */
}
